* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

header {
  background-color: #2F2235;
  height: 30px;
  color: #F2F2F2;
}

hr {
  display: inline-block;
  width: 70%;
  margin-bottom: 5px;
}

img {
  height: 200px;
  width: auto;
  display: inline-block;
  padding: 5px;
}

.party {
  color: #34D1D1;
}

h1, h2 {
  font-weight: 300;
  margin: 5px;
}

h1 {
  float: left;
  font-size: 16px;
}

h2 {
  float: right;
  font-size: 14px;
}

.section-header {
  margin: 30px 20px;
  font-size: 14px;
  display: inline-block;
}

.accordian {
  width: 700px;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40px 260px auto;
}

.tab {
  width: 100%;
  display: inline;
  color: #666666;
  padding: 12px 5px;
}

.tab:focus {
  outline: none;
}

.current {
  font-weight: 600;
  border: 1px solid #666666;
  border-bottom: none;
}

.sleep {
  text-decoration: none;
  background-color: #D1D2D3;
  border-bottom: 1px #666666 solid; 
  border-right: 1px #FFF solid;
}

.panels {
  border: 1px solid #666666;
  border-top: none;
  grid-column: 1 / 5;
  text-align: left;
}

.panel {
  padding: 10px;
  display: flex;
}

.hidden {
  display: none;
}

.panel-text {
  display: inline-block;
  padding: 5px;
}

.view-code {
  background-color: #2F2235;
  height: 40px;
  width: 190px;
  text-align: center;
  margin: 40px auto;
  padding-top: 12px;

}

.view-code1 {
  grid-column: 1 / 5;
  grid-row: 3 / 4; 
}

.view-code a {
  text-decoration: none;
  color: #FFF;
}

.flexible-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 500px;
  width: 600px;
  margin: auto;
}

.card p {
  padding: 15px;
}

.card {
  border: 1px solid black;
}

.card img {
  width: 100%;
  height: 109px;
}

.card1 {
  grid-column: 1/3;
}

.card7 {
  grid-column: 2/4;
}

@media screen and (max-width: 725px) {

  section {
    text-align: center;
  }

  .section-header {
    margin-bottom: 0;
  }

  .tab {
    text-align: left;
  }

  .header-hr {
    display: block;
    margin: 10px auto 50px auto;
    width: 60px;
  }

  .accordian {
    width: 90%;
  }
}

@media screen and (max-width: 660px) {
  .flexible-cards {
    width: 300px;
    grid-template-columns: 100%;
  }

  .card1, .card2, .card3, .card7 {
    display: none;
  }
}

@media screen and (max-width: 525px) {

  .accordian {
    grid-template-rows: auto;
    grid-template-columns: none;
  }

  img {
    width: 90%;
  }

  .panel {
    flex-direction: column;
  }

  .panels {
    grid-row: 2 / auto;
  }

  .tab {
    width: initial;
    border: 1px #666666 solid;
    border-bottom: none;
    grid-column: 1 / 5;
    padding: 5px;
  }

  .current {
    background-image: url('./subtract.svg');
    background-size: 5%; 
    background-repeat: no-repeat;
    background-position: 98%;
  }

  .sleep {
    background-image: url('./add.svg');
    background-size: 5%; 
    background-repeat: no-repeat;
    background-position: 98%;
  }

  .tab4,
  .current {
    border-bottom: 1px #666666 solid;
  }

  .view-code {
    grid-row: 6 / 7;
  }
}

@media screen and (max-width: 251px) {
  header {
    height: 60px;
  }
}



